@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;700&family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;   
}

/*====== Header section =======*/
.navbar{
    background:linear-gradient(to bottom, rgba(0,0,0,1)0%, rgba(0,0,0,0)100%);
    /* position: absolute; */
    width: 100%;
    height: 80px;
}
.navbar a{
    font-weight: 700;
    color: white;
    font-size: 28px;
}
.navbar img{
    width: 50px;
    /* border-radius: 50%;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1); */
    
}

/* Mobile CSS */
@media only screen and (max-width: 768px){
    .navbar div{
        background:linear-gradient(to bottom, rgba(0,0,0,0.5)0%, rgba(0,0,0,0)100%);
        height: 100px;
        align-content:flex-start;
    }
    .navbar a{
        margin-top: 5px;
        font-size: 22px;
    }
    .navbar img{
        width: 40px;
    }
}

/* ==== form content ===== */
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../img/carousel.jpg);
    background-size: cover;
    background-position: center;

}
.box-area{
    width: 700px;
    background: linear-gradient(rgb(0, 0, 0,0.1)0%, rgba(0, 0, 0,1)100%); 
    transition: filter 0.4s;  
}
.box-area.blur{
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}

.left-box{
    background: transparent;
}


.right-box{
    padding: 10px 30px 40px 40px;
    border-radius: 10px;
    z-index: 1;
}
.right-box input, .right-box button{
    text-align: center;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
}
.right-box button{
    font-weight: 500;
}

::placeholder{
    font-size: 14px;
}

/* Mobile CSS */
@media only screen and (max-width: 768px){
    .box-area{
        margin: 0 10px;
        margin-top: 100px;
        width: 400px;
        background: transparent;
        
    }
    .left-box{
        overflow: hidden;
    }
    .left-box h3{
        background: linear-gradient(90deg,rgb(255, 255, 255,0.8)25%, rgba(0, 0, 0,0)40%);
        border-radius: 50px;
        padding: 5px 30px;
        width: 100%;
        
    }
    .steps-container{
        background: linear-gradient(45deg, black, transparent);
        margin-bottom: 10px;
        padding: 16px 8px 0px;
        width: 365px;
        border-radius: 10px;
    }

    .right-box{
        padding: 20px;
    }
}

/* Result CSS */
#popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)scale(0);
    text-align: center;
    padding: 0px 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s;
    z-index: 2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}
#popup.open{
    transform: translate(-50%,-50%)scale(1);
    visibility: visible;
}
#popup img{
    width: 100px;
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 0px 0px 10px;
}
#popup button{
    width: 50%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2); */
}
